---
import { CldUploadWidget, CldImage } from 'astro-cloudinary'
import Layout from '../layouts/Layout.astro'
import Topics from '@components/Topics.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Examples from '@components/Examples.astro'

import { getCollection } from 'astro:content'
const stickers = await getCollection('stickers')
---

<Layout title='HallowStick 🎃👻'>
  <main>
    <section class='bg-hero-halloween bg-cover bg-center px-4 w-full h-screen filter brightness-90'>
      <Header />
      <div
        class='relative max-w-xl w-full h-full m-auto flex flex-col justify-center items-center animate-fade-up animate-once'
      >
        <div class='absolute w-full inset-0 m-auto md:top-36 top-16'>
          <h1 class='text-bunker-950 text-center font-serif md:text-8xl text-6xl pb-2'>HallowStick</h1>
          <p class='text-center text-blue-zodiac-950 md:text-3xl text-2xl mb-72 text-pretty rounded-lg'>
            Convierte tus imágenes o fotos en stickers únicos de Halloween
          </p>
        </div>
      </div>
    </section>

    <section id='create-sticker' class='bg-custom-gradient pb-10'>
      <div class='-translate-y-16'>
        <Topics />

        <CldUploadWidget
          id='upload-widget'
          uploadPreset='upload-halloween'
          class='hidden'
          options={{
            sources: ['local'],
            multiple: false,
            maxFiles: 1,
            language: 'es',
            clientAllowedFormats: ['image'],
            text: {
              es: {
                or: 'O',
                menu: {
                  files: 'Subir desde tu dispositivo',
                },
                local: {
                  browse: 'Seleccionar',
                  dd_title_single: 'Arrastra tu imagen aquí',
                },
              },
            },
          }}
        >
          <button
            class='create-sticker animate-flip-up text-2xl block m-auto px-4 py-2 bg-bunker-200 text-bunker-900 rounded hover:scale-105 transition-all shadow-md'
            >Generar Sticker</button
          >
        </CldUploadWidget>
      </div>

      <Examples />

      <div class='max-w-4xl md:mx-auto mx-2 md:mt-36 mt-12 mb-16'>
        <h3 class='text-3xl text-center text-blue-zodiac-200 max-w-2xl w-full mx-auto mb-12'>
          Haz clic y descubre lo fácil que es transformar una foto en un sticker personalizado
        </h3>
        <ul class='grid md:grid-cols-3 grid-cols-2 md:gap-6 gap-4'>
          {
            stickers.map(sticker => {
              return (
                <li class='hover:scale-105 transition-all shadow-md shadow-blue-900'>
                  <a href={`/sticker?id=${sticker.data.public_id}&topic=ghost`}>
                    <CldImage
                      src={sticker.data.public_id}
                      width={512}
                      height={512}
                      crop={{
                        type: 'thumb',
                        source: true,
                        width: 400,
                        height: 400,
                        gravity: 'center',
                      }}
                      alt={`stciker ${sticker.data.public_id}`}
                      border='7px_solid_DarkOrange'
                      format='jpg'
                      sizes='100vw'
                    />
                  </a>
                </li>
              )
            })
          }
        </ul>
      </div>
      <Footer />
    </section>
  </main>
</Layout>

<script>
  import { navigate } from 'astro:transitions/client'

  const $options = document.querySelectorAll('.options li')
  const $widget = document.getElementById('upload-widget')

  if ($widget) {
    $widget.addEventListener('clduploadwidget:success', ((e: CustomEvent<{ info: { public_id: string } }>) => {
      console.log(e)
      const publicId = e.detail.info.public_id
      const topic = document.querySelector('.selected')?.getAttribute('data-topic')
      console.log({ publicId, topic })
      navigate(`/sticker?id=${publicId}&topic=${topic}`)
    }) as EventListener)

    $widget.addEventListener('clduploadwidget:error', ((e: CustomEvent<{ detail: { UploadWidget: object } }>) => {
      console.log(e)
    }) as EventListener)
  }

  if ($options) {
    $options.forEach(el => {
      el.addEventListener('click', event => {
        const target = event.currentTarget as HTMLElement
        cleanClass($options)

        target.classList.add('selected', '!bg-bunker-600', 'scale-105')
        console.log(target)
        if ($widget?.classList.contains('hidden')) {
          $widget.classList.remove('hidden')
        }
      })
    })
  }

  function cleanClass(options: NodeListOf<Element>) {
    options.forEach(el => {
      if (el.classList.contains('selected')) {
        el.classList.remove('selected', '!bg-bunker-600', 'scale-105')
      }
    })
  }
</script>
